<div class="doctor-dashboard-component">
    <div class="doctor-dashboard-wrapper">
      <div class="table-data">
        <div *ngFor="let category of tableCategories">
          <!-- Table Title -->
          <h2 class="table-title">{{ category | titlecase }} Registration Details</h2>
  
          <!-- Display Table -->
          <app-table
            [tableData]="tableData[category]"
            [tableColumns]="tableColumns[category]"
            [actions]="[
              { label: 'View', action: 'view' },
              { label: 'Images', action: 'images' }
            ]"
            (actionClicked)="handleAction($event)"
            [showSearch]="true"
          ></app-table>
        </div>
      </div>
    </div>
  </div>
  