<div class="dynamic-form-component container">
  <!-- MultiSelect Dropdown -->
  <div class="multiselect-dropdown mb-3">
    <label class="form-label">Select Options</label>
    <ng-multiselect-dropdown
      *ngIf="dropdownSettings"
      [settings]="dropdownSettings"
      [placeholder]="'Select options'"
      [data]="dropdownList"
      [(ngModel)]="selectedItems"
      (onSelect)="onItemSelect($event)"
      (onDeSelect)="onDeSelect($event)"
    >
    </ng-multiselect-dropdown>
  </div>

  <!-- Dynamic Form -->
  <form [formGroup]="dynamicForm" (ngSubmit)="submitForm()">
    <div class="row">
      <div class="mb-3 col-4">
        <label class="form-label">Form Title</label>
        <input
          class="form-control"
          type="text"
          formControlName="title"
          placeholder="Enter form title"
        />
      </div>

      <div class="mb-3 col-4">
        <label class="form-label">Form Description</label>
        <input
          class="form-control"
          formControlName="description"
          placeholder="Enter form description"
        />
      </div>

      <div class="mb-3 col-4">
        <label class="form-label">Button Title</label>
        <input
          class="form-control"
          type="text"
          formControlName="buttonTitle"
          placeholder="Enter button title"
        />
      </div>
    </div>
    <div formArrayName="fields" cdkDropList (cdkDropListDropped)="drop($event)">
      <div
        *ngFor="let field of fields.controls; let i = index"
        [formGroupName]="i"
        class="mb-4 p-3 border border-2 rounded"
        cdkDrag
      >
        <h2 class="mb-2">Section {{ i + 1 }}</h2>
    
        <div class="row g-3 mb-2">
          <div class="col-md-6">
            <label class="form-label">Section Title</label>
            <input class="form-control" type="text" formControlName="title" placeholder="Enter section title" />
          </div>
    
          <div class="col-md-6">
            <label class="form-label">Section Description</label>
            <input class="form-control" type="text" formControlName="description" placeholder="Enter section description" />
          </div>
        </div>
    
        <div class="row align-items-center g-3">
          <div class="col-md-3">
            <label class="form-label">Field Label</label>
            <input class="form-control" type="text" formControlName="label" placeholder="Label" />
          </div>
    
          <div class="col-md-2">
            <label class="form-label">Input Type</label>
            <select class="form-control" formControlName="type">
              <option *ngFor="let input of inputTypes" [value]="input.value">{{ input.label }}</option>
            </select>
          </div>
    
          <div class="col-md-3">
            <label class="form-label">Placeholder</label>
            <input class="form-control" type="text" formControlName="placeholder" placeholder="Placeholder" />
          </div>
    
          <div class="col-md-2">
            <label class="form-label">Default Value</label>
            <input class="form-control" type="text" formControlName="defaultValue" placeholder="Default Value" />
          </div>
    
          <div class="col-md-1 d-flex align-items-center">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="requiredCheck{{ i }}" formControlName="required" />
              <label class="form-check-label ms-1" for="requiredCheck{{ i }}">Required</label>
            </div>
          </div>
    
          <div class="col-md-1">
            <button class="btn btn-danger mt-4" type="button" (click)="removeField(i)">Remove</button>
          </div>
        </div>
      </div>
    </div>
    
    

    <!-- Add, Preview & Submit Buttons -->
    <div class="buttons mt-3">
      <button class="btn btn-warning me-2" type="button" (click)="addField()">
        Add Section
      </button>
      <button class="btn btn-info me-2" type="button" (click)="openPreview()">
        Preview
      </button>
      <button
        class="btn btn-success"
        type="submit"
        [disabled]="dynamicForm.invalid || fields.length === 0"
      >
        Submit
      </button>
    </div>
  </form>

  <!-- Preview Modal -->
  <div
    class="modal fade bd-example-modal-lg"
    [ngClass]="{ show: isPreviewOpen, 'd-block': isPreviewOpen }"
    tabindex="-1"
    role="dialog"
  >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="closePreview()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div
            class="head-section"
            *ngIf="
              previewForm?.title &&
              previewForm?.description &&
              previewForm?.buttonTitle
            "
          >
            <div class="sec">
              <h1 class="text-center">{{ previewForm?.title }}</h1>
              <h6 class="text-center">({{ previewForm?.description }})</h6>
            </div>

            <button type="button" class="btn btn-primary m-4">
              {{ previewForm?.buttonTitle }}
            </button>
          </div>

          <!-- Drag & Drop Container -->
          <!-- Drag & Drop Container in Preview Modal -->
          <app-input-template [jsonObs$]="jsonObs$" [formValueObs$]="formValueObs$"></app-input-template>

        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            (click)="closePreview()"
          >
            Close
          </button>
          <button type="button" class="btn btn-primary" (click)="submitForm()">
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
