<div class="dynamic-form-component container">
  <!-- MultiSelect Dropdown -->
  <div class="multiselect-dropdown mb-3">
    <label class="form-label">Select Options</label>
    <ng-multiselect-dropdown
      *ngIf="dropdownSettings"
      [settings]="dropdownSettings"
      [placeholder]="'Select options'"
      [data]="dropdownList"
      [(ngModel)]="selectedItems"
      (onSelect)="onItemSelect($event)"
      (onDeSelect)="onDeSelect($event)"
    >
    </ng-multiselect-dropdown>
  </div>

  <app-form-builder></app-form-builder>
<app-dynamic-form></app-dynamic-form>
</div>
